Используемые библиотеки в проекте:
1. numpy - для математических вычислений и работы с массивами
2. matplotlib - для визуализации и построения графиков
3. tkinter - для создания графического интерфейса